/*body*/
body {
    margin: 0;
    height: 100%;
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;

}

/*content*/

.content {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 0;
}

/*header*/
.header {
    display: flex;
    background: #FFFFFF;
    padding: 24px 0 24px 64px;
    margin: 0 0 40px 0;
    font-size: 16px;
}

/*aside*/
.aside {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 100%;
    height: 600px;
    max-width: 354px;
    font-size: 14px;
}

.aside__item {
    padding: 16px 0 16px 24px;
}

.aside__item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.aside__item a:hover {
    color: #3F51B5;
}

/*main*/
.main {
    margin: 0 166px 128px 166px;
}